form.manual-selection-form {
  flex-flow: column;
}

/* Fix for seven-based themes */
form.manual-selection-form > .form--inline .form-item {
  float: none;
}

form.manual-selection-form .filter-wrap {
  display: flex;
  align-items: center;
  width: 80%;
  float: none;
}

/* @see https://stackoverflow.com/a/41625751/1551356 */
form.manual-selection-form .filter-wrap:first-child,
:not(.filter-wrap) + .filter-wrap {
  padding-top: 25px;
}

form.manual-selection-form .form-item--manual-select-filter {
  width: 100%;
}

form.manual-selection-form .filter-wrap.active,
form.manual-selection-form .filter-wrap.always-visible {
  padding-bottom: 15px;
}

form.manual-selection-form .filter-wrap .form-item {
  width: 20%;
  margin: 0 1.5rem 0 0;
}

form.manual-selection-form .filter-wrap .form-item input[type="text"],
form.manual-selection-form .filter-wrap .form-item select {
  width: 100%;
}

form.manual-selection-form .filter-wrap .form-item.form-disabled {
  display: none;
}

form.manual-selection-form .filter-wrap input[id$="check-deactivate"] {
  margin-left: 0;
  margin-right: 1.5rem;
}

form.manual-selection-form .filter-wrap.always-visible .label {
  width: 20%;
  margin: 0 1.5rem 0 0;
}

form.manual-selection-form .filter-wrap .form-item[class$="-max"] {
  display: flex;
  align-items: center;
}

form.manual-selection-form .filter-wrap .form-item[class$="-max"] label {
  padding-right: 10px;
  margin-left: -10px;
  margin-bottom: 0;
}

form.manual-selection-form .form-item.form-item-manual-select-filter {
  clear: both;
}

form.manual-selection-form .form-item.form-item-manual-select-filter.active {
  margin-bottom: -5em;
}

form.manual-selection-form .filter-wrap:after {
  content: "";
  clear: both;
  display: table;
}

form.manual-selection-form .filter-wrap input[disabled],
form.manual-selection-form .filter-wrap select[disabled] {
  display: none;
}


.form--inline .flexible-views-manual-selection-details .form-item {
  float: none;
}

@media screen and (max-width: 1200px) {
  form.manual-selection-form .filter-wrap {
    width: 100%;
    justify-content: space-between;
  }

  form.manual-selection-form .filter-wrap:after {
    content: none;
  }

  form.manual-selection-form .filter-wrap .form-item {
    width: 35%;
    margin-right: 0;
  }
}
