/* Basic form item styling */
/* *-Selector is because it can be an details or an div */
#edit-flexible-tables-fieldset {
  width: 100%;
}

#edit-flexible-tables-fieldset .details-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#edit-flexible-tables-fieldset .details-wrapper .form-item {
  float: none;
  margin-right: 0;
  margin-top: 1.5rem;
}

#edit-flexible-tables-fieldset .details-wrapper .form-item.form-type--select {
  min-width: 200px;
}

#edit-flexible-tables-fieldset .details-wrapper .form-item.form-type--select select {
  width: 100%;
}

#edit-flexible-tables-fieldset .details-wrapper .form-item.move-buttons {
  margin: 0 15px -1.75em 15px;
  height: 200px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

#edit-flexible-tables-fieldset .details-wrapper .form-item.move-buttons > div {
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
  width: 40px;
  height: 45%;
  border: 1px solid darkgrey;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#edit-flexible-tables-fieldset select {
  height: 200px;
}

/* Select logic */
#edit-flexible-tables-fieldset option:disabled {
  display: none;
}

.js-form-item.form-item.form-item-selected-columns-submit-order,
.js-form-item.form-item.form-item--selected-columns-submit-order {
  display: none !important;
}

@media screen and (max-width: 1200px) {
  #edit-flexible-tables-fieldset .details-wrapper .form-item.form-type--select {
    min-width: auto;
  }
}
